.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 92px;
}

@media screen and (min-width: 1032px) {
    .places {
        max-width: 984px;
    }
}

/* @media screen and (max-width: 1032px) {
    .places {
        margin: 88px 24px;
        max-width: 94%;
    }
}

@media screen and (max-width: 600px) {
    .places {
        margin: 0 auto 64px;
        max-width: 100%;
    }
} */