.photo-grid__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 0 48px 92px;
    max-width: 1184px;
}

@media screen and (max-width: 1032px) and (min-width: 600px) {
    .photo-grid__container {
        grid-template-columns: 1fr 1fr;
        margin: 0 24px 88px;
        width: 93.75%;
    }
}

@media screen and (max-width: 600px) {
    .photo-grid__container {
        grid-template-columns: 1fr;
        grid-gap: 12px;
        margin: 0 16px 64px;
        width: 90%;
    }
}