.place__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: text;
}

@media screen and (max-width: 600px) {
    .place__text {
        margin: 0 16px;
    }
}