.intro__content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 690px;
    align-items: flex-start;
}

@media screen and (max-width: 1032px) {
    .intro__content-container {
        max-width: 100%;
    }
}