

/* @media screen and (min-width: 800px) {
    .section_type_wide {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 800px) {
    .section_type_wide {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .section_type_wide {
        margin-left: 16px;
        margin-right: 16px;
    }
} */