.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    max-width: 785px;
    margin: 0;
}

@media screen and (max-width: 1032px) {
    .intro__title {
        max-width: 100%;
    }
}

@media screen and (max-width:600px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }
}